<% provide(:page_title,@post.title)%>
<% provide(:blog_active,"active")%>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 text-xs-center test">
		<h1><center><%= @post.title %></center></h1>
		<h6><%= @post.display_day_published %></h6>
		<% if @post.body!=nil%>
				<%= @post.body.html_safe %>					
		<%end%>
	</div>



	<div class="row row-author">
		<div class="col-sm-12 col-md-12 col-lg-12 content">
			<hr>
			<h2>Author</h2>
			<div class="center">	
				<div class="author-bio">
					<div>
						<h4><center><%= @post.author.name %></center></h4>
					</div>
					
					<div>
						<center><%= image_tag(@post.author.gravatar_image_url) %></center>
					</div>
					
					<div>
						
						<h6><center><%= @post.author.bio %></center></h6>
					</div>
				</div>
			</div>
		</div>	
</div>

	



	<div id="disqus_thread"></div>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/


var disqus_config = function () {
	this.page.url = "<%=request.original_url%>;"
	this.page.identifier = "<%= @post.slug %>"; 

};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://cryptocrave-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

<style type="text/css">
	.row{
		background-color: green;		

	}
</style>
                            