
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    
    <br>
    <div class="col-sm-5 col-md-5 col-lg-4 text-xs-center  centerer">
      <h2>Sign up</h2>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>


      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up",class: "btn btn-primary btn btn-block" %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>

<% end %>


<style type="text/css">

  .centerer{
    float:none;
      margin: 0 auto;
      background-color: white;
      border-radius: 25px;
      padding: 20px;

  }
  .actions{
    margin-top: 20px;
  }
  .btn-primary{
        background-color: #3F51B5;
  }
  .field{
    margin-top: 20px;
  }
  .form-control{
      border-radius: 0;
      border-outline: white;
  }

</style>




























