<% if flash.any? %>
  <% flash.keys.each do |key| %>

    <div class="alert alert-<%= key.to_s %>" role="alert">
      <%= flash[key] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>

<div class="row">
    <%= form_tag authors_info_path, method: :put do %>
      <%= fields_for :author do |f|%>
        <div class="col-md-6 pull-left">
          <div class="card"  >
            <div class="card-block">
              <div class="card-title">
                Your Profile
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a target="blank" href="https://en.gravatar.com/gravatars/new">
                  <%= image_tag(current_author.gravatar_image_url) %>
                </a>
                
              </li>
              <li class="list-group-item">
                <div class="field">
                  <%= f.label :name %>
                  <%= f.text_field :name, value: current_author.name, class: "form-control" %>
                </div>            
              </li>
              <li class="list-group-item">
                <div class="field">
                  <%= f.label :email %>
                  <%= f.text_field :email, value: current_author.email, class: "form-control" %>
                </div>
              </li>
              <li class="list-group-item">
                <div class="field">
                  <%= f.label :bio %>
                  <%= f.text_area :bio, value: current_author.bio, class: "form-control" %>
                </div>
              </li>
              <li class="list-group-item">
                <%= f.submit "Update info",class: "btn btn-primary"%>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
    </--- change password --->
    <%= form_tag authors_change_password_path, method: :put do %>
      <%= fields_for :author do |f|%>
        <div class="col-md-6 pull-left">
          <div class="card" >
            <div class="card-block">
              <div class="card-title">
                Change Password
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="field">
                  <%= f.label :current_password %>
                  <%= f.password_field :current_password, class: "form-control" %>
                </div>            
              </li>
              <li class="list-group-item">
                <div class="field">
                  <%= f.label :new_password %>
                  <%= f.password_field :new_password, class: "form-control" %>
                </div>
              </li>
              <li class="list-group-item">
                <div class="field">
                  <%= f.label :new_password_confirmation %>
                  <%= f.password_field :new_password_confirmation, class: "form-control" %>
                </div>
              </li>
              <li class="list-group-item">
                <%= f.submit "Update password",class: "btn btn-warning"%>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
</div>