<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico?v=2"/>
    <script type="text/javascript" src="Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <title><%=yield(:page_title)%> | CryptoCrave</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>

  	<%= render "layouts/navbar"%>
  	<div class="container <%=controller_name%> <%= action_name%>">
  		 <%= yield %>
  	</div>
   
  </body>
</html>
